/* 游戏界面样式 V2 - 模块化入口 */
@import url('./game/game-base.css');
@import url('./game/game-door-base.css');
@import url('./game/game-door-states.css');
@import url('./game/game-synthesis.css');
@import url('./game/game-inventory.css');
@import url('./game/game-modals-base.css');
@import url('./game/game-modals-discovery.css');
@import url('./game/game-responsive-media.css');
@import url('./game/game-tutorial.css');
@import url('./game/game-completion.css');
